{% extends "base.html" %}

{% block title %}About {{ pet.name }}{% endblock %}

{% block content %}

<!-- Displays page for individual pet. Includes all information about pet with an edit form
that user can edit some fields about pet -->


<!-- Flash message to display pet has been updated -->
{% for msg in get_flashed_messages() %}
  <div class="alert alert-success" role="alert">
    {{ msg }}
  </div>
{% endfor %}

<div class="card mb-3">
    <div class="row no-gutters justify-content-center">
      <div class="col-lg-4">
        <img src="{{ pet.photo_url }}" class="card-img" alt="{{ pet.name }}'s picture">
      </div>
      <div class="col-lg-8">
        <div class="card-body">
          <h4 class="card-title display-4 mb-2"><b>{{ pet.name }}</b></h4>
          <hr>
          <p class="card-text" style="font-size: 20px;">Species: {{ pet.species }}</p>
          <p class="card-text" style="font-size: 20px;">Age: {{ pet.age }}</p>
        </div>
      </div>
    </div>
</div>

<h4 class="display-4 ml-4 mt-5">Edit {{ pet.name }}</h4>
  
<div class="row ml-4">
      <div class="col-lg-7">
        <form method="POST" class="mb-5">
          {{ form.hidden_tag() }} <!--add type=hidden form fields -->
    
          {% for field in form
                if field.widget.input_type != 'hidden' %}
    
            <div class="form-group row">
                {% if field.widget.input_type == 'checkbox' %}
                    <div class="col-sm-10">  
                        <div class="form-check">               
                            {{ field(class_="form-check-input") }}
                            {{ field.label(class_="form-check-label") }}
                        </div> 
                    </div>
                {% else %}
                    {{ field.label(class_="col-sm-2 col-form-label") }}
              
                    <div class="col-sm-10">
                        {{ field(class_="form-control", placeholder="None Provided") }}
                    </div>
                {% endif %}

                {% for error in field.errors %}
                    <small class="form-text text-danger">
                    {{ error }}
                    </small>
                {% endfor %}
            </div>
    
          {% endfor %}

          <a href="/" class="btn btn-primary">All Pets</a>
          <button class="btn btn-success" type="submit">Edit</button>
        </form>
      </div>
</div>


{% endblock %}